# Frontend
FRONTEND_PORT=3000
VITE_BACKEND_BASE_URL=http://backend:5000

# Backend
FLASK_ENV=development
BACKEND_PORT=5000
AGENT_ENGINE_URL=http://agent_engine:7000
LLM_URL=http://llm:8000
WEAVIATE_URL=http://weaviate:8080
DATABASE_URL=postgresql://vanessa:vanessa@postgres:5432/vanessa
SANDBOX_URL=http://sandbox:6000

# Agent engine
AGENT_ENGINE_PORT=7000
